@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ATH Hostel Reservation System</h1>
    <p>Witamy w systemie służącym do sprawdzania informacji o hostelach znajdujących się w naszym regionie</p>
</div>

<div class="gallery">
    <a target="_blank" href="images/1.jpg">
        <img src="images/1.jpg">
    </a>
</div>

<div class="gallery">
    <a target="_blank" href="images/2.jpg">
        <img src="images/2.jpg">
    </a>
</div>

<div class="gallery">
    <a target="_blank" href="images/3.jpg">
        <img src="images/3.jpg">
    </a>
</div>
